/*Base*/

#color-container {
  display: flex;
  height: 400px;
  width: 100%;
}

.color-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.color-swatch {
  flex-grow: 1;
}

.hex-value {
  text-align: center;
  padding: 10px;
  background: white;
  cursor: pointer;
}
